
# Игнорировать всё
*

# Разрешить папку Assets и её содержимое
!/Assets/

# В папке Assets игнорировать всё кроме нужных папок
/Assets/*
!/Assets/Textures/
!/Assets/Materials/
!/Assets/Models/
!/Assets/Prefabs/
!/Assets/Scripts/
!/Assets/ScriptableObjects/
!/Assets/Scenes/
!/Assets/Sprites/
!/Assets/Audio/

# Разрешить ВСЁ содержимое нужных папок
!/Assets/Textures/**
!/Assets/Materials/**
!/Assets/Models/**
!/Assets/Prefabs/**
!/Assets/Scripts/**
!/Assets/ScriptableObjects/**
!/Assets/Scenes/**
!/Assets/Sprites/**
!/Assets/Audio/**

# Разрешить .gitignore
!/.gitignore
